<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Courses</title>
</head>
<body>
	<div>
		<h1>Are you sure you want to delete the following course?</h1>
		<p>Name: {{ course.0.name }}</p>
		<p>Description: {{ course.0.description }}</p>
		<form action='/' method='post'>
			{% csrf_token %}
		  	<input type='submit' value='No'>
		</form>
		<form action='/courses/delete/{{ course.0.id }}' method='post'>
			{% csrf_token %}`
		  	<input type='submit' value='Yes! I want to delete this'>
		</form>
	</div>
</body>
</html>